
<head>
        <link rel="stylesheet" href="/assets/css/navigation.css">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px; border-bottom: 1px solid #CCC">
    <a class="navbar-brand" href="/">MemeMail</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <form class="form-inline my-2 my-lg-0" method="get">
            <input id="searchbox" name="query_text" value="<%= query %>" class="form-control mr-sm-2" type="search" placeholder="Search Emails" aria-label="Search">
        </form>
    </div>

    <div class="navbar-collapse collapse w-100">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= user.firstName %> <%= user.lastName %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>