<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include("../partials/head.ejs"); %>
        <link rel="stylesheet" href="/assets/css/inbox.css">
    </head>

    <body>
        <%- include("../partials/navigation.ejs"); %>

        <div class="row-fluid">
            <div class="container-fluid px-0">
                <div class="content-wrapper align-items-start">
                    <div class="inbox-sidebar">
                        <div class="sidebar-section">
                            <a href="/compose" class="btn btn-danger btn-block">New Email</a>

                            <ul>
                                <li class="title">Menu</li>
                                <li>
                                    <a href="#"><i class="fa fa-inbox"></i> Inbox <span class="badge badge-danger">0</span></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i> Stared</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-rocket"></i> Sent</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-trash-o"></i> Trash</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-bookmark"></i> Important</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="inbox-content">

                        <% if (inbox.length > 0) { %>
                            <ul>
                                <% inbox.forEach(function(email){ %>
                                <li class="inbox-item">
                                    <a href="/inbox/12345">
                                        <span class="inbox-item-title"><%= email.subject.value %></span>
                                        <span class="inbox-item-description"><%= email.snippet %></span>
                                        <span class="inbox-item-timestamp">Oct 15, 3:00 PM</span>
                                    </a>
                                </li>
                                <% }); %>
                            </ul>
                        <% } else { %>
                            <div style="height: 500px; display: flex; justify-content: center; align-items: center;">
                                <h2>No Mail</h2>
                            </div>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>

    </body>

</html>