<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs"); %>
        <link rel="stylesheet" href="/assets/css/login.css">
    </head>

    <body>

        <div class="row-fluid">
            <div class="container-fluid px-0">
                <div class="login-page">
                    <div class="login-section">
                        <div>
                        <h1>MemeMail</h1>
                        <h3>Email, With a Focus on Memes.</h3>
                        <p>MemeMail provides a custom experience around Gmail with a focus on dank memes</p>

                            <a id="login-button" href="/mail/auth/google">
                                <img src="/assets/images/google/btn_google_signin_light_normal_web.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>