<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs"); %>
        <link rel="stylesheet" href="/assets/css/landing.css">
    </head>

    <body>
        <div class="wrapper">
            <div class="applications">
                <h2>Pick an Application</h2>

                <div class="applications-list">

                    <div class="app">
                        <a href="/notes">
                            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                        </a>
                    </div>

                    <div class="app">
                        <a href="/mail">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>